* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffe599;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 60px;
    background-color: #fff2cc;
    border-radius: 5px;
    gap: 30px;
}

h2 {
    color: #ff4800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 15px 20px;
    color: #ff7300fb;
    background-color: #fff;
    border: none;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    color: #fff;
    background-color: #ff7300fb;
}

.jeu {
    width: 420px; /* Largeur ajustée pour 4x4 */
    height: 420px; /* Hauteur ajustée pour 4x4 */
    display: grid; /* Utilisation de CSS Grid */
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
    grid-template-rows: repeat(4, 1fr); /* 4 rangées */
    border: 2px solid #ff4800;
    gap: 5px; /* Espacement entre les éléments */
    perspective: 500px;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: 0.25s;
    transform-style: preserve-3d;
    font-size: 1em; /* Taille de la police ajustée */
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #ff7300fb;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}
